{% extends "core/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-4">

<h4 class="mb-4 text-primary">
⚙️ Cadastro de Módulo
</h4>

<form method="post">
{% csrf_token %}

<label>Nome</label>
{{ form.nome|add_class:"form-control mb-3" }}

<label>Descrição</label>
{{ form.descricao|add_class:"form-control mb-3" }}

<label>URL</label>
{{ form.url|add_class:"form-control mb-3" }}

<button class="btn btn-success">
💾 Salvar
</button>

<a href="{% url 'lista_modulos' %}" class="btn btn-secondary">
⬅ Voltar
</a>

</form>

</div>

{% endblock %}
