{% extends base_template %}

{% block content %}

<div class="container-fluid">

<div class="card shadow border-0 rounded-4">
<div class="card-body p-5">

<h3 class="fw-bold mb-4">
{{ conselho }}
</h3>

<div class="row g-4">

<div class="col-md-4">

<a
hx-get="{% url 'conselho:preencher_geral' conselho.id %}"
hx-target="#mainContent"
hx-swap="innerHTML"
class="card text-center p-5 text-decoration-none">

<h2>📋</h2>
<h5>Lançamento Geral</h5>

</a>

</div>

<div class="col-md-4">

<a
hx-get="{% url 'conselho:preencher_aluno' conselho.id %}"
hx-target="#mainContent"
hx-swap="innerHTML"
class="card text-center p-5 text-decoration-none">

<h2>👤</h2>
<h5>Aluno por Aluno</h5>

</a>

</div>

<div class="col-md-4">

<a
hx-get="{% url 'conselho:painel' conselho.id %}"
hx-target="#mainContent"
hx-swap="innerHTML"
class="card text-center p-5 text-decoration-none">

<h2>📊</h2>
<h5>Painel da Turma</h5>

</a>

</div>

</div>

</div>
</div>

</div>

{% endblock %}